.two{
    background-attachment: fixed;
    background-color: rgb(19, 17, 15);
    color: rgb(246, 218, 6);
}
.three{
    margin: 10px;
    padding: 10px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
}